html {
  font-size: 62.5%;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background-color: rgba(2, 0, 17, 1);
}

.page {
  font-family: 'Roboto', sans-serif;
  color: white;
  min-height: 100vh;
  margin: auto;
  max-width: 2560px;

  /* background: radial-gradient(40.86% 1.86% at 50% -35px, rgba(44, 180, 205, 0.86) 0%, rgba(1, 2, 2, 0) 100%); */
  background-image: url(../../images/bgcustommain3.png);
  background-size: contain;
  /* background-position: center; */
  background-repeat: no-repeat;
}
