.team {
  /* margin: 100px 5% 0;
  min-height: 100vh; */
  /* display: flex;
  flex-direction: column; */

  /* max-width: 2560px; */
  min-height: 100vh;
  margin: 0 5% 0;
  /*! display: flex; */
  /*! flex-direction: column; */
  /*! align-items: center; */
  display: grid;
  grid-template-rows: 0.3fr 1fr 0.3fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  max-width: 1180px;
}
