.brief {
  border: 3px solid rgba(44, 180, 205, 1);
  border-radius: 19px;
  min-height: 300px;
  margin-top: 80px;
  padding: 0 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1040px;
  box-sizing: border-box;
}
