/* normalize & fonts */
@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');
/* normalize & fonts*/

/* blocks */
@import url('../blocks/page/page.css');
@import url('../blocks/landing-page/landing-page.css');
@import url('../blocks/hero/hero.css');
@import url('../blocks/header/header.css');
@import url('../blocks/logo/logo.css');
@import url('../blocks/list/list.css');
@import url('../blocks/list-item/list-item.css');
@import url('../blocks/page-title/page-title.css');
@import url('../blocks/button/button.css');
@import url('../blocks/features/features.css');
@import url('../blocks/circle-icon/circle-icon.css');
@import url('../blocks/team/team.css');
@import url('../blocks/brief/brief.css');
@import url('../blocks/media/media.css');
@import url('../blocks/footer/footer.css');
/* blocks */

/* elements */
@import url('../blocks/header/__nav/header__nav.css');
@import url('../blocks/header/__link/header__link.css');
@import url('../blocks/page-title/__accent/page-title__accent.css');
@import url('../blocks/hero/__description/hero__description.css');
@import url('../blocks/landing-page/__image/landing-page__image.css');
@import url('../blocks/features/__grid/features__grid.css');
@import url('../blocks/circle-icon/__image/circle-icon__image.css');
@import url('../blocks/brief/__title/brief__title.css');
@import url('../blocks/brief/__title/brief__description.css');
@import url('../blocks/team/__categories/team__categories.css');
@import url('../blocks/team/__category/team__category.css');
@import url('../blocks/team/__members/team__members.css');
@import url('../blocks/media/__nav/media__nav.css');
@import url('../blocks/media/__articles/media__articles.css');
@import url('../blocks/media/__videos/media__videos.css');
@import url('../blocks/media/__wrapper/media__wrapper.css');
@import url('../blocks/media/__link/media__link.css');
@import url('../blocks/footer/__contact-wrapper/footer__contact-wrapper.css');
@import url('../blocks/footer/__text/footer__text.css');
@import url('../blocks/footer/__contact-item/footer__contact-item.css');
@import url('../blocks/footer/__additional/footer__additional.css');
@import url('../blocks/footer/__links/footer__links.css');
@import url('../blocks/footer/__nav-header/footer__nav-header.css');
@import url('../blocks/footer/__nav/footer__nav.css');
@import url('../blocks/footer/__social/footer__social.css');
@import url('../blocks/footer/__link/footer__link.css');
@import url('../blocks/page/__warpper/page__wrapper.css');

/* elements */

/* modifiers */
@import url('../blocks/logo/_place/logo_place_header.css');
@import url('../blocks/logo/_place/logo_place_footer.css');
@import url('../blocks/list/_place/list_place_header.css');
@import url('../blocks/list-item/_place/list-item_place_header.css');
@import url('../blocks/list-item/_place/list-item_place_footer.css');
@import url('../blocks/button/_type/button_type_main.css');
@import url('../blocks/circle-icon/_place/circle-icon_place_features.css');
@import url('../blocks/circle-icon/_place/circle-icon_place_team.css');
/* modifiers */
