.button_type_main {
  border: 1px solid hsla(0, 0%, 77%, 0.7);
  border-radius: 13px;
  font-size: 1.7rem;
  font-weight: 700;
  height: 58px;
  margin: 0 auto;
  width: 143px;
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

/* .team .button_type_main {
  margin: 0 0 23px;
} */

.button_type_main:not(.team__category .button_type_main) {
  cursor: pointer;
}

.button_type_main:not(.team__category .button_type_main).button_type_main::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-cyan);
  z-index: -1;
  clip-path: polygon(0 100%, 0 100%, 100% 100%, 100% 100%);
  transition: clip-path 0.25s ease-out;

  /* border-radius: inherit; */
}

.button_type_main:hover:not(.team__category .button_type_main).button_type_main::before {
  clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
}

.team__category > .button_type_main {
  max-width: 50%;
  max-height: 6vw;
}
