.header {
  display: flex;
  max-width: 2560px;
  margin: 0 5%;
  position: relative;
  justify-content: center;
  align-items: center;
  /* padding-top: 40px; */
  min-height: var(--header-height);
}
