.features {
  max-width: 2560px;
  min-height: 100vh;
  margin: 0 5% 0;
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.3fr;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}
